/* HTML */

html {
    background: #1f2937;
}

/* BODY */

body {
    margin-left: 5vh;
}

/* HEADING */

h1,
.description {
    font-family: 'Karla', sans-serif;
    color: #fff;
}

h1 {
    font-size: xx-large;
    margin-top: 10vh;
}

h4 {
    font-size: larger;
}

span {
    color: #4adf86;
}


/* SLOGAN */

.slogan {
    font-family: 'Karla', sans-serif;
    color: #fff;
    margin-top: -2vh;
    font-size: larger;
}

/* BUTTONS */

button {
    background-color: #10B981;
    color: #fff;
    font-size: large;
    border: none;
    margin: 50px 0 30px 0;
    height: 40px;
    width: 250px;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
}

/* LINE */

.line {
    border-bottom: 0.5px solid #6B7280;
}



/* PASSWORDS */

.input-container input {
    background-color: #2F3E53;
    color: #10B981;
    font-size: larger;
    text-align: center;
    height: 40px;
    width: 250px;
    border-radius: 8px;
    border: none;
    margin-right: 20px; 
  }

.input-container {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  /* INSTRUCTIONS */

  .help {
    margin-top: 50px;
  }

  li {
    font-size: 18px;
  }

  #instructions {
    border: 2px solid white;
    background-color: #2F3E53;
  }
  
  @media (max-width: 600px) {
    .input-container input {
        margin-right: 0;
        margin-bottom: 10px;
    }
}