/* DARK MODE */
 
/* HTML */

html {
    background: #1f2937;
}

/* BODY */

body {
    margin-left: 5vh;
}

/* HEADING */

h1 {
    font-family: 'Karla', sans-serif;
    color: #fff;
    font-size: xx-large;
    margin-top: 10vh;
}

span {
    color: #4adf86;
}

/* SLOGAN */

.slogan {
    font-family: 'Karla', sans-serif;
    color: #fff;
    margin-top: -2vh;
    font-size: larger;
}

/* BUTTONS */

button {
    background-color: #10B981;
    color: #fff;
    font-size: large;
    border: none;
    margin: 50px 0 30px 0;
    height: 40px;
    width: 250px;
    border-radius: 8px;
}

/* LINE */

.line {
    border-bottom: 0.5px solid #6B7280;
}

/* PASSWORDS */

.input-container input {
    background-color: #2F3E53;
    color: #10B981;
    font-size: larger;
    text-align: center;
    height: 40px;
    width: 250px;
    border-radius: 8px;
    border: none;
    margin-right: 20px; 
  }

.input-container {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  